@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 12%;
    --foreground: 0 0% 99%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 39 100% 50%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 39 95% 40%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 240 2% 23%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 204 19% 26%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }

  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: #FFA600 #1F1F1F;
  }
}

.hero-gradient {
  background: radial-gradient(ellipse at 50% 50%, hsla(39,100%,50%,0.3) 0%, transparent 70%);
  transform: rotate(15deg);
}